body {
  margin: 0;
  padding: 0;
}

main, ::placeholder {
  margin: auto;
  max-width: 700px;
  font-family: Verdana, sans-serif;
}

main > #title {
  text-align: center;
}

form {
  padding: 20px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 4px;
  box-shadow: 0px 15px 50px #999;
}

form > * {
  display: block;
}

#description {
  margin-block-end: 1.5em;
  margin-block-start: 0;
  text-align: center;
}

.form-row {
  margin: 15px 0px;
}

.form-row .label, .form-row .inputs {
  display: inline-block;
}

.form-row .label {
  vertical-align: top;
  text-align: right;
  width: 50%;
  padding-right: 10px;
  box-sizing: border-box;
}

.form-row .inputs {
  position: relative;
  text-align: left;
  width: 50%;
  right: 0px;
}

.form-row > .inputs > input:not([type]),
.form-row > .inputs > input[type="email"],
.form-row > .inputs > input[type="number"],
.form-row > .inputs > select,
.form-row > .inputs > textarea {
  width: 100%;
  min-height: 25px;
  box-sizing: border-box;
}

.form-row > .inputs > input[type="radio"],
.form-row > .inputs > input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.form-row > .inputs > textarea {
  resize: vertical;
}

form > [type="submit"] {
  border-width: 0;
  background-color: #4CAF50;
  text-transform: uppercase;
  color: white;
  height: 35px;
  width: 100%;
  box-shadow: 0px 5px 10px #aaa;
  cursor: pointer;
}
